<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <a href="https://www.baeldung.com/thymeleaf-select-option"><H1>Источник</H1>></a><br>
    <a href="/thymeleafe/articles">01 Artivle</a><br>
    <a href="/thymeleafe/blog_dto">02 Использование скрытых входных данных с помощью Spring и Thymeleaf</a><br>
    <a href="/thymeleafe/ind">03 </a><br>
    <a href="/thymeleafe/all">04 Books</a><br>
    <a href="/thymeleafe/arrays">05 continents</a><br>


</head>
<body>

</body>
</html>