<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Редактировать вентилятор для процессора</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
<header th:insert="blocks/header::header"></header>

<H3>Редактировать вентилятор для процессора</H3><br>

<form th:action="@{/comp_parts/fun/edit}" th:method="post">
<!--    <input type="text" th:field="*{fun.id}" placeholder="id"> id<br>-->
    <input type="text" th:field="*{fun.name}" placeholder="name"> имя<br>
    <div style="color:red" th:if="${#fields.hasErrors('fun.name')}" th:errors="*{fun.name}">Name Error</div>
    <input type="text" th:field="*{fun.socket}" placeholder="socket" name="socket"> сокет<br>
    <input type="text" th:field="*{fun.specification}" placeholder="specification"> спецификация<br>
    <input type="text" th:field="*{fun.warranty}" placeholder="warranty"> гаратния<br>
    <input type="text" th:field="*{fun.price}" placeholder="price"> цена<br>
    <div style="color:red" th:if="${#fields.hasErrors('fun.price')}" th:errors="*{fun.price}">fun.price Error</div>
    <br>
    <input type="text" th:field="*{code.brinePartNumber}" placeholder="brine code"> brain code<br>
    <input type="text" th:field="*{code.gelezkaPartNumber}" placeholder="gelezka code"> gelezka code<br>
    <input type="text" th:field="*{code.originalPartNumber}" placeholder="original coge"> original code<br>
    <div style="color:red" th:if="${codeDuplication}" th:text="${textError}"></div>
    <br>
    <button type="submit" class="btn btn-info col-2">Изменить</button><br>
</form>
<br>

<form th:method="get" th:action="@{/comp/create_pc_parts}">
    <button type="submit" class="btn btn-primary btn-sm mb-3">Манипуляции с комплектующими</button>
</form>
    <form th:method="get" th:action="@{/comp_parts/fun/show}">
        <button type="submit" class="btn btn-primary btn-sm mb-3">Список вентиляторов</button>
    </form>
<div th:insert="blocks/footer::footer"></div>
</div>
</body>
</html>