<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Gelezka</title>
</head>
<body>
<header th:insert="blocks/header::header"></header>
<H2>Просмотреть все комплектации</H2>
<div>
    <table border="1" align="left">
        <div th:each="comp_element:${computerList}">
            <tr>
<!--                <th>-->
                    <b th:text="${comp_element}" align="left"></b>

<!--                </th>-->
            </tr>
        </div>
    </table>
</div>

<br>
<a href="comp"></a>
<div th:insert="blocks/footer::footer"></div>
</body>
</html>