<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a  th:href="@{/}"> Главная_</a>
            <a href="/comp/operations"> Манипуляции с компьютером_</a><br>
            <a href="/comp/show_all"> Просмотреть все комплектации_</a><br>
            <a href="/comp/create_pc_parts"> Комплектующие</a><br>
<!--            <a  href="/about">Про нас</a>-->
<!--            <a  href="/gelezkaHome">Железка</a>-->
<!--            <a  href="/gelezka/add_pc">Добавить комплектацию</a>-->
        </nav>
    </div>
</div>
